<div class="container col-md-6" style="margin-top: 65px">

     <h1 style="" class="blogHeading">Give Us TheLowDwn.</h1>

  <form method="post" action="/{{username}}/blog">

  <select class="custom-select" name="storyCategory" id="storyCategory">
      <option selected >How would you classify your story?</option>
      <option value="Dating Disaster">Dating Disaster</option>
      <option value="We Found Love in a Hopeless Place">We Found Love in a Hopeless Place</option>
      <option value="Other">Other</option>
  </select>

  <div class="form-group">
      <label for="name" class="cols-sm-2 control-label">Story Title</label>
          <div class="cols-sm-10">
              <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="storyTitle" id="storyTitle"  placeholder="Enter your story title"/>
          </div>
        </div>
    </div>

      <div class="form-group">
      <label for="name" class="cols-sm-2 control-label">Tell Us Your Story</label>
          <div class="cols-sm-10">
              <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="storyContent" id="storyContent"/>
          </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg outline">Submit</button>


  </form>
</div>

  <div class="jumbotron col-md-6" style="margin-top: 100px">
        <h1 class="display-3" style="text-align: center">We Want<br/>Your Dating<br/>Stories</h1>
        {{!-- <p class="lead">What is <span class="theLowDwn">The LowDwn?</span></p> --}}
        <hr class="my-2">
        <p><span class="theLowDwn">The LowDwn.</span> is an application designed to provide online daters objective reviews of other daters on OkCupid. You'll be asked a series of questions to give other daters <span class="theLowDwn">The LowDwn.</span> on your experiences. The idea is not to slander daters, but to prevent hearts from being broken or help you find your one true love!
      </p>

      <ul class="useCases-ul"> You can use <span class="theLowDwn">The Lowdwn.</span> to:

      <li class="useCases">Read reviews of other daters (or even those about you!),</li>
      <li class="useCases">Write reviews about past or current daters, or...</li>
      <li class="useCases">Give us <span class="theLowDwn">The LowDwn.</span> on your dating experiences. We want to hear your stories!</li>

      </ul>

      <p>Love, <span class="theLowDwn">The LowDwn. Team</span></p>

</div>
