<div class="container landingPage">

<div>

<span class="appName animated fadeInDown">The LowDwn.</span>

<span class="appNameTwo animated fadeOutDown">The LowDwn.</span>

<span class="appNameThree animated fadeOutDown">The LowDwn.</span>

<span class="appNameFour animated fadeOutDown">The LowDwn.</span>

<span class="appNameFive animated fadeOutDown">The LowDwn.</span>

</div>

<img  class="loginButton" src="../assets/images/brokenheart_white.png" href="/login" alt="Login Button"/>

{{!-- <img  class="newUserButton" src="../assets/images/newUser_White.png" href="/login" alt="Login Button"/> --}}

</div>
