<h1 style="margin-top: 65px">Review</h1>

{{!-- Search for OkCupid User to Write Review --}}
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Question One</label>
    <input type="text" class="form-control" id="testerReview" style="width: 350px">
  </div>

  <button type="button" class="btn btn-primary btn-lg outline submitReview">Submit Review</button>

</form>

</fieldset>
</form>

    {{!-- {{#each dater}} --}}

    <h2 style="margin-top: 35px" class="searchResults">Filler</h2>

    <div class="container" style="margin-top: 100px">

        <div class="card col-md-6" id="daterDiv" style="padding: 30px; text-align: center">

        

        </div>
    </div>

