
<div class="container col-md-6 searchField" style="margin-top: 65px" display="show">

<h1>Search</h1>

{{!-- Search for OkCupid User to Write Review --}}
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Enter OkCupid Username</label>
    <input type="text" class="form-control" id="writeReviewSearch" placeholder="OkCupid Username" style="width: 350px">
  </div>

  <button type="button" class="btn btn-primary btn-lg outline findDater">Find User to Review</button>

</form>

</div>
{{!-- Closing Search Box --}}


{{!-- Hidden div with questions --}}
<div class="container reviewDate col-md-6" style="display: none; margin-top: 65px">

    <h1>Give Us The LowDwn.</h1>

    <form>

{{!-- Question One --}}
    <div class="form-group">
        <div class="form-group row" id="correspond">
            <label class="col-sm-2">Did you correspond with this person?</label>
            <div class="col-sm-10">
              <div class="radio">
              {{!-- trigger to next question --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" id="talkYes"> Yes
                </label>
                {{!-- have a trigger for this question to end it since --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" id="]"> No, we've never messaged
                </label>
              </div>
            </div>
        </div>
    </div>
    {{!-- Closing Q1 --}}

{{!-- Question Two --}}
{{!-- don't have a toggle because either way move to next question --}}
        <div class="form-group row" id="initiate" style="display: none">
            <label class="col-sm-2">Did you initiate the intitial conversation?</label>
            <div class="col-sm-10">
              <div class="radio">
              {{!-- trigger to next question --}}
              {{!-- put a class on the buttons because it doesn't matter what answer is --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="initiated"> Yes
                </label>
              {{!-- trigger to next question --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="initiated"> No
                </label>
              </div>
            </div>
        </div>
        {{!-- Closing Q2 --}}

{{!-- Question Three --}}
        <div class="form-group row" id="inPerson" style="display: none">
            <label class="col-sm-2">Did you meet in person?</label>
            <div class="col-sm-10">
              <div class="radio">
              {{!-- trigger to next question --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" id="metYes"> Yes
                </label>
                {{!-- have a trigger for this question to end it since never met --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" id="neverMet"> No, we've never met
                </label>
              </div>
            </div>
        </div>
        {{!-- Closing Q3 --}}

{{!-- Question Four --}}
        <div class="form-group row" id="datingTimes" style="display: none">
            <label class="col-sm-2">Did you go out on more than one date?</label>
            <div class="col-sm-10">
              <div class="radio">
              {{!-- trigger to next question --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" id="dateMultiple"> Yes
                </label>
              {{!-- trigger to Four A --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" id="dateOnce"> No
                </label>
              </div>
            </div>
        </div>
        {{!-- Closing Q4 --}}

{{!-- Question Four A --}}
                <div class="form-group row" id="datingTimes_A" style="display: none">
                    <label class="col-sm-2">Are you planning to meet again?</label>
                    <div class="col-sm-10">
                      <div class="radio">
                      {{!-- trigger to question five --}}
                        <label class="radio-inline">
                          <input type="radio" name="optradio" id="dateAgain"> Yes
                        </label>
                      {{!-- trigger to next sub question --}}
                        <label class="radio-inline">
                          <input type="radio" name="optradio" id="dateAgainNo"> No
                        </label>
                      </div>
                    </div>
                </div>
                {{!-- Closing Q4 A --}}

{{!-- Question 4B --}}
                <div class="form-group row" id="datingTimes_B" style="display: none">
                    <label class="col-sm-2">Did you have a conversation about not seeing each other again?</label>
                    <div class="col-sm-10">
                      <div class="radio">
                      {{!-- trigger to  4B_1--}}
                        <label class="radio-inline">
                          <input type="radio" name="optradio" id="conversationYes"> Yes
                        </label>
                      {{!-- trigger to 4C --}}
                        <label class="radio-inline">
                          <input type="radio" name="optradio" id="conversationNo"> No
                        </label>
                      </div>
                    </div>
                </div>
                {{!-- Closing Q4 B --}}

{{!-- Question4B_1 --}}
         {{!-- no toggle --}}
                            <div class="form-group row" id="datingTimes_B_1" style="display: none">
                                <label class="col-sm-2">Did you initiate that conversation?</label>
                                <div class="col-sm-10">
                                  <div class="radio">
                                  {{!-- trigger to  question 9 recommend person?--}}
                                    <label class="radio-inline">
                                      <input type="radio" name="optradio" class="end" id="q4b_1_yes"> Yes
                                    </label>
                                  {{!-- trigger to question 9 recommend person?--}}
                                    <label class="radio-inline">
                                      <input type="radio" name="optradio" class="end" id="q4b_1_no"> No
                                    </label>
                                  </div>
                                </div>
                            </div>

{{!-- Question 4C --}}
                <div class="form-group row" id="datingTimes_C" style="display: none">
                    <label class="col-sm-2">Who ceased communication? Ghosted?</label>
                    <div class="col-sm-10">
                      <div class="radio">
                      {{!-- trigger to question 9 recommend person?--}}
                        <label class="radio-inline">
                          <input type="radio" name="optradio" class="end" id="ghostedThem"> I did. I ghosted that mofo
                        </label>
                      {{!-- trigger to question 9 recommend person?--}}
                        <label class="radio-inline">
                          <input type="radio" name="optradio" class="end" id="ghostedMe"> They did. They probably think I'm #sterile.
                        </label>
                      </div>
                    </div>
                </div>
                {{!-- Closing Q4 C --}}

{{!-- Question 5 --}}
  {{!-- No toggle --}}
        <div class="form-group row" id="dateNumber" style="display: none">
            <label class="col-sm-2">How many more times have you hung out?</label>
            <div class="col-sm-10">
            {{!-- trigger to question 6 any result --}}
               <div class="radio">
                  <label class="radio-inline">
                    <input type="radio" name="optradio" class="q5"> 1-3 
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="optradio" class="q5"> 4-6
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="optradio" class="q5"> 7-10
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="optradio" class="q5"> We are still hanging out
                  </label>
              </div>
            </div>
        </div>
        {{!-- Closing Q5 --}}

{{!-- Question 6 --}}
{{!-- no toggle --}}
        <div class="form-group row" id="attraction" style="display: none">
            <label class="col-sm-2">Was there physical attraction on the date?</label>
            <div class="col-sm-10">
              <div class="radio">
              {{!-- trigger to question about sex --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="attracted"> Yes
                </label>
              {{!-- trigger to question about sex --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="attracted"> No
                </label>
              </div>
            </div>
        </div>
        {{!-- Close Q6 --}}

{{!-- Question 7 --}}
        <div class="form-group row" id="physical" style="display: none">
            <label class="col-sm-2">Were you physically intimate with this person?</label>
            <div class="col-sm-10">
              <div class="radio">
              {{!-- trigger to question appearance--}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="intimate"> Yes
                </label>
              {{!-- trigger to question about sex --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="intimate"> No
                </label>
              </div>
            </div>
        </div>
        {{!-- Close Q7 --}}

{{!-- Question 8 --}}
        <div class="form-group row" id="appearance" style="display: none">
            <label class="col-sm-2">Did your date look like the pictures posted in their profile?</label>
            <div class="col-sm-10">
              <div class="radio">
              {{!-- trigger to question 9 recommend date--}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" id="fitProfileYes"> Yes
                </label>
              {{!-- trigger to question about difference --}}
                <label class="radio-inline">
                  <input type="radio" name="optradio" id="fitProfileNo"> No
                </label>
              </div>
            </div>
        </div>
        {{!-- Closing Q8 --}}

{{!-- Question 8A --}}
                <div class="form-group row" id="appearance_A" style="display: none">
                    <label class="col-sm-2">What was different? Select All That Apply</label>
                    <div class="col-sm-10">
                      <div class="form-check">
                      {{!-- trigger to question 9 any result --}}
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox">Shorter in person
                          <input class="form-check-input" type="checkbox">Taller in person
                          <input class="form-check-input" type="checkbox">Weighed significantly more
                          <input class="form-check-input" type="checkbox">Weighed significantly less
                          <input class="form-check-input" type="checkbox">A lot less hair
                          <input class="form-check-input" type="checkbox">Looked older
                          <input class="form-check-input" type="checkbox">Looked younger
                          <input class="form-check-input" type="checkbox">Actually were older
                          <input class="form-check-input" type="checkbox">Actually were younger
                          <input class="form-check-input" type="checkbox">Better looking!
                          <input class="form-check-input" type="checkbox" id="attributes">Temp Click once done
 
                        </label>
                      </div>
                    </div>
                </div>
                {{!-- Closing 8A --}}

{{!-- Question 9 --}}
        <div class="form-group row" id="recommendFriend" style="display: none">
            <label class="col-sm-2">Would you recommend this person to a friend?</label>
            <div class="col-sm-10">
              <div class="radio">
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="recommend"> Yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="recommend"> No
                </label>
              </div>
            </div>
        </div>
        {{!-- Closing Q9 --}}


{{!-- Nice to know One --}}
          <div class="form-group row" id="activity" style="display: none">
            <label class="col-sm-2">What type of activity(s) did you do on your date?</label>
            <div class="col-sm-10">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox"> Active/Exercising/Walking
                  <input class="form-check-input" type="checkbox"> Drinks
                  <input class="form-check-input" type="checkbox"> Grabbed Food
                  <input class="form-check-input" type="checkbox"> Attended a Sporting Event/Concert
                  <input class="form-check-input" type="checkbox"> "Netflix and Chill"
                  <input class="form-check-input" type="checkbox"> Hung out with their friends
                  <input class="form-check-input" type="checkbox"> Hung out with their family
                  <input class="form-check-input" type="checkbox" id="dateActivity"> Temp Once done click here too

                </label>
              </div>
            </div>
          </div>

          {{!-- Nice to know One closing --}}

</form>

    {{!-- Topics Discussed --}}
   <div class="form-group">
        <div class="form-group row" id="topics" style="display:none">
          <label class="col-sm-2">What topics were discussed on your date?</label>
          <div class="col-sm-10">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Politics
                <input class="form-check-input" type="checkbox"> Marriage/Kids
                <input class="form-check-input" type="checkbox"> Income
                <input class="form-check-input" type="checkbox"> Career
                <input class="form-check-input" type="checkbox"> Regligion
                <input class="form-check-input" type="checkbox"> Bucket List
                <input class="form-check-input" type="checkbox"> Travel
                <input class="form-check-input" type="checkbox"> Past Relationships
                <input class="form-check-input" type="checkbox" id="dateTopics"> Temp Click once done
              </label>
            </div>
          </div>
        </div>
{{!-- End of Nice to Know Two --}}

  </div>
  {{!-- Closing final question --}}

</div>
{{!-- Closing container with all questions --}}

{{!-- Div with search results that will be appended via scrape --}}
<div class="container col-md-6" style="margin-top: 65px">

    <h2 style="text-align: center" class="searchResults">Search Results</h2>

        <div class="card" id="daterDiv" style="text-align: center">


        </div>
</div>
