
<div class="container col-md-8">

<h1 style="margin-top: 65px">Search</h1>

{{!-- Search for OkCupid User to Write Review --}}
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Enter OkCupid Username</label>
    <input type="text" class="form-control" id="writeReviewSearch" placeholder="OkCupid Username" style="width: 350px">
  </div>

  <button type="button" class="btn btn-primary btn-lg outline findDater">Find User to Review</button>

</form>

</div>

<div class="container col-md-4">

    <h2 style="margin-top: 65px; text-align: center" class="searchResults">Search Results</h2>

        <div class="card " id="daterDiv" style="text-align: center">


        </div>
        </div>

{{!-- <div class="container col-md-12">

<h2 style="margin-top: 65px; text-align: center" class="searchResults">Search Results</h2>



</div> --}}

