#storyCategory {
  height: 50px;
  width: 300px;

}

#storyTitle {
  width: 400px;

}

#storyContent {
  width: 100%;
  height: 496px;

}

.blogHeading {
  color: $purple;
}

#tellUsStory, #title, #category {
  font-size: 24px;

}

