
.appNameRP{
  @include registrationPageName;
  color: $purple;
  bottom: 150px;
}

.appNameTwoRP{
  @include registrationPageName;
    color: darken($purple, 80%);
    // color: lighten($button-color, 100%);
    bottom: 200px
}

.appNameThreeRP{
  @include registrationPageName;
  color: darken($purple, 70%);
  // color: lighten($button-color, 80%);
  bottom: 250px;
}

.appNameFourRP{
  @include registrationPageName;
  color: darken($purple, 60%);
  // color: lighten($button-color, 60%);
  bottom: 300px;
}

.appNameFiveRP{
  @include registrationPageName;
  color: darken($purple, 50%);
  // color: lighten($button-color, 40%);
  bottom: 350px;
}
