@import "variables";


.datercard {
  height: 300px;
  width: 300px;
  position: absolute;
  right: 20px;
}

#daterName {
  font-size: 40px;
  color: $purple;

}

#daterLocation, #daterAge, #daterScore, #niceThings {
  font-size: 24px;

}

#yesDater, #noDater {

  font-size: 22px;


}

.lookingFor {
  font-size: 24px;
    color: $purple;

}

#questionLabel {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
  width: 500px;

}

.radio-inline {
  font-size: 20px;

}

.radio, .form-check-label, .form-check {
  width: 500px;
  font-size: 20px;
}

.checkbox-inline {

  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 20px;

}

.card-img-bottom {
  color: #fff;
  height: 20rem;
  background: url(images/img1.jpg) center no-repeat;
  background-size: cover;
}

#niceThings {
  width: 250px;
  margin-right: 325px;
}

#daterScore {
  width: 250px;
  margin-right: 500px;
}

.cardBorder {
  border: 1px $okcupid-blue solid;
}

.makeBold {
  font-weight: bold;
  color: $purple;
}


