.card-img-top {
  height: 300px;
  width: 300px;
}

#daterName {
  font-size: 26px;

}

#daterLocation, #daterAge, .lookingFor {
  font-size: 20px;

}

label {
  font-size: 18px;
  margin-top: 12px;

}
