@import "mixins";
@import "buttons";
@import "variables";
@import "frontpage";
@import "homepageAndMyReviews";
@import "registration";
@import "login";

body{
  font-family: $body-font;
}

.navbar{
  font-family: $body-font;
  font-size: 18px;
  background-color: $okcupid-teal;
  border-color: $okcupid-teal;
}

.navbar-brand {
  font-family: $body-font;
  font-size: 24px;

}


.searchResults {
  color: $okcupid-blue;

}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}


.title {
  color: $okcupid-blue;
}

h1 {
  color: $purple;
}


