@import "mixins";
@import "buttons";

$title-font: 'Monoton', cursive;
// $button-color: #42b6b2;
$button-color: #1464F4;
// $title-font-color: #b64280;
$title-font-color: #f86762;
$icon-height: 150px;
$icon-width: 150px;
$body-font: 'Open Sans Condensed', sans-serif;
$font-color-2: #f86762;

.navbar{
  font-family: $body-font;
  font-size: 18px;
  background-color: $font-color-2;
}

.navbar-brand {
  font-family: $body-font;
  font-size: 24px;

}

.appName{
  @include titlePageName;
  color: $title-font-color;
  bottom: 150px;
}

.appNameTwo{
  @include titlePageName;
    color: darken($title-font-color, 100%);
    // color: lighten($button-color, 100%);
    bottom: 200px
}

.appNameThree{
  @include titlePageName;
  color: darken($title-font-color, 80%);
  // color: lighten($button-color, 80%);
  bottom: 250px;
}

.appNameFour{
  @include titlePageName;
  color: darken($title-font-color, 60%);
  // color: lighten($button-color, 60%);
  bottom: 300px;
}

.appNameFive{
  @include titlePageName;
  color: darken($title-font-color, 40%);
  // color: lighten($button-color, 40%);
  bottom: 350px;
}

.landingPage{
  // background-color: $background-color;
  // height: 100vh;
}

.loginButton{
  // @include buttonStyle;
  // Buttons
  @include button-variant(white, $button-color, white);
  @include button-size(15px, 15px, 18px, 40px, 4px);
  position: fixed;
  bottom: 50px;
  left: 300px;
}

.newUserButton{

  @include button-size(15px, 15px, 18px, 4px, 4px);
   @include button-variant(white, $button-color, white);
  position: fixed;
  bottom: 50px;
}

.searchResults {
  color: $font-color-2;

}

.footer{
  position: fixed;
  bottom: 0;
}
